body, html, header {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 120px;
    background-color: gray;
}

.logo_box {
    width: 125px;
    height: 120px;
    padding: 5px;
}

.logo {
    width: 125px;
    height: 120px;
}

nav {
    float: right;
    margin: -50px 40px 0 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 5px;
}

.section_box {
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
}

.text_box {
    height: 400px;
    width: 400px;
    text-align: center;
}

footer {
    background-color: gray;
    width: 100%;
    height: 190px;
}

.social_icons {
    text-align: center;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 17px;
    margin-top: 115px;
  }
  
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}
  
.fa-instagram {
    background: #f104f9;
    color: white;
}
.fa-youtube {
    background: red;
    color: white;
}
.fa-linkedin {
    background: green;
    color: white;
}