body, html, header {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 120px;
    background-color: gray;
}

.logo_box {
    width: 125px;
    height: 120px;
    padding: 5px;
}

.logo {
    width: 125px;
    height: 120px;
}

nav {
    float: right;
    margin: -50px 40px 0 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 5px;
}